.headerImg {
    background-image: url("../image/shop-title.jpg");
    height: 250px;
    background-size: cover;

    p {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 50px;
    }

    a {
        text-decoration: none;
        color: #111;
    }

}