.sliderProduct {

    .pr1,
    .pr2 {
        width: 100% !important;
        height: 100% !important;
    }

    .swiper-button-prev {
        position: absolute;
        left: calc(100% - 100px) !important;
        margin-right: 10px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 35px !important;
        border: 1px solid #eee;
        padding: 15px !important;
        width: 25px;
        height: 25px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 16px !important;
        font-weight: 600;
        color: #111
    }
    .product{
        @media (max-width: 500px) { 
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
        }
    }
}