
@import "./assets/scss/navbar.scss";
@import "./assets/scss/product.scss";
@import "./assets/scss/headerImage.scss";
@import "./assets/scss/homeSlider.scss";
@import "./assets/scss/sliderProduct.scss";
@import "./assets/scss/loader.scss";
@import "./assets/scss/dashboard.scss";
@import "./assets/scss/showProduct.scss";
@import "./assets/scss/cardDropdown.scss";
@import "./assets/scss/cartShop.scss";
@import "./assets/scss/topHeader.scss";
@import "./assets/scss/productList.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}